html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  max-width: 1400px auto;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #000;
  line-height: 1.6;
  height: 100%;
}

main {
  padding: 1rem;
  height: 100%;
}

#navbar {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  padding: 0 1rem;
  box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
}
#navbar header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  border-bottom: 1px solid #000;
}
#navbar .nav-link {
  color: #000;
  border-bottom: 1px solid #000;
}
#navbar .nav-link:hover {
  color: #f1687f;
}
.sections {
  float: left;
  width: 75%;
  height: 100%;
  overflow: scroll;
  padding-left: 30px;
  text-align: left;
}

.main-section header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  main {
    display: block;
  }
  #navbar {
    display: block;
    width: 100%;
    height: auto;
    float: none;
  }
  .sections {
    float: none;
    width: 100%;
    height: auto;
  }
}
